.results-list{
    padding: 1em;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1em;
}

.results-list li{
    list-style: none;
    border: 1px solid ;
    padding: 2em;
}

.orderPost_id{
    font-size: 1em;
    font-weight: 800;
}